.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0 0px 20px #545454;
}

.menu-container {
    display: none;
}

.language-dropdown {
    align-self: flex-start;
    margin: 0 10px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.logo-engo {
    width: 100%;
}

.logo-engo-cn {
    width: 60%;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.collapsible-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: 0px;
    background: white;
    height: 100%;
    padding: 20px 20px 20px 40px;
    box-shadow: 0 0 5px #333;
    transition: 0.2s;
    z-index: 150;

    @media (max-width: 1024px) and (min-width: 769px) {
        width: 30%;
    }

    .sublink {
        list-style-type: disc;
        display: list-item;

        @media (max-width: 1024px) and (min-width: 769px) {
            margin: 0 5%;
        }

        @media (max-width: 768px) {
            margin: 0 14%;
        }
    }
}

.menu-icon {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.collapsible-menu-nav {
    margin-top: 40px;
    width: 100%;
}

.close-menu {
    align-self: flex-end;
    width: 30px;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.close-menu-icon {
    width: 100%;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 2px 0;
    background-color: #333;
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 20px;
}

.menu li {
    margin: 5px 0;
}

.hidden {
    opacity: 0;
    transform: translateX(100%);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (min-width: 1095px) {
    .menu-container {
        display: flex;
    }

    .menu-icon {
        display: none;
    }
}

@media (min-width: 768px) {
    .header {
        padding: 20px 100px;
    }


    .language-dropdown {
        margin-left: 10px;
    }
}