.brand-story-section {
    width: 100%;
    background-color: $light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;


    .brand-story-content-container {
        width: 60%;

        p {}
    }


}