.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 8rem 0;
    background-image: url(@/assets/images/water_glass.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 80%;

    @media (max-width: 1024px) and (min-width: 769px) {
        background-size: cover;
        background-position: 50% 80%;
    }

    @media (max-width: 768px) {
        background-size: 300%;
        background-position: 88% 100%;
        padding: 4rem 0;
    }

    .contact_wrap {
        font-weight: 400;
        width: 70%;

        @media (max-width: 768px) {
            width: 90%;
        }

        .contact_title {
            max-width: 800px;

            .web {
                display: block;
            }

            .phone {
                display: none;
            }


            @media (max-width: 1024px) and (min-width: 769px) {
                h3 {
                    font-size: 40px;
                    letter-spacing: normal;
                }

                .web {
                    display: block;
                }

                .phone {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                h3 {
                    font-size: 20px;
                    letter-spacing: normal;
                    text-align: center;
                }

                .container {
                    text-align: right;
                }

                .web {
                    display: none;
                }

                .phone {
                    display: block;
                    font-size: 14px;
                    background-color: transparent;
                    line-height: 1.5;
                }

            }
        }

        .contact_inputs {
            max-width: 600px;
            padding-top: 20px;

            .textarea_label {
                margin-top: 16px;
            }

            .input_wrap {
                display: flex;
                gap: 16px;
                width: 100%;

                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: 0px !important;
                }

                .input_label {
                    flex: 1;
                }

                .input_label--short {
                    width: 30%;
                }

                .input_label--long {
                    width: 70%;
                }

                @media (max-width: 768px) {

                    .input_label--short,
                    .input_label--long {
                        width: 100%;
                    }
                }
            }

            .input_label,
            .input_label--short,
            .input_label--long {
                padding-top: 12px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                box-shadow: inset 0 -1px 0 rgb(41, 53, 83, 0.5);

                @media (max-width: 768px) {
                    gap: 0;
                }

                ::placeholder {
                    color: black;
                    font-weight: 400;
                    font-size: 20px;
                }

                select {
                    font-size: 20px;
                }

                select::invalid {
                    color: black;
                    font-weight: 400;
                    font-size: 20px;
                }

            }

            .custom_select {
                font-family: "Noto Sans TC", sans-serif;
                height: 50px;
                padding: 0 8px;
                background-color: rgb(41, 53, 83, 0.1);
                border-radius: 4px;
                border: none;
                color: black !important;
                -webkit-appearance: none;
                appearance: none;


                &~option {
                    font-size: 16px;
                }

                &:focus {
                    border: none;
                }
            }

            label {
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 8px;
            }

            input {
                font-size: 20px;
                box-sizing: border-box;
                padding: 14px;
                -webkit-appearance: none;
                appearance: none;
                border-radius: 4px;
                background: rgb(41, 53, 83, 0.1);
                width: 100%;
                border: 0;

                &:focus {
                    background: rgb(41, 53, 83, 0.2);
                    outline: none;
                    box-shadow: inset 0 -2px 0 #131d37;
                }
            }

            .textarea_label {
                display: flex;
                flex-direction: column;
                box-shadow: inset 0 -1px 0 rgb(41, 53, 83, 0.5);
                padding-top: 12px;
                gap: 4px;

                textarea {
                    font-size: 18px;
                    background: rgb(41, 53, 83, 0.1);
                    border: none;
                    padding: 12px;
                    resize: none;
                    border-radius: 4px;
                    min-height: 120px;

                    &:focus {
                        background: rgb(41, 53, 83, 0.2);
                        outline: none;
                        box-shadow: inset 0 -2px 0 #131d37;
                    }

                    &::placeholder {
                        color: #34393E;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .contact-form-submit {
        border: none;
        outline: none;
        background: $brand-blue;
        color: white;
        padding: 10px 20px;
        border-radius: 2px;
        margin-top: 24px;
        width: 100%;
        height: 44px;
    }

    #form-error-message {
        color: red;
    }
}