.engo-ecosystem-section {
    background-image: url('@/assets/images/eco-system-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
}

h2 {
    padding-top: 24px;
}

.video-container {
    padding: 0 12vw;
    display: flex;
    justify-content: center;


    @media (max-width: 1024px) and (min-width: 769px) {
        padding: 0;
    }

    @media (max-width: 768px) {
        padding: 0;
    }
}

video {
    width: 70%;
    margin-top: 24px;

    @media (max-width: 1024px) and (min-width: 769px) {
        width: 80%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.horizontal-strip {
    width: 60px;
    height: 5px;
    background-color: white;
    margin-top: 12px;
}

.engo-ecosystem-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;


    @media (min-width: 1440px) {
        height: 90vh;
        padding-top: 5%;
    }

    @media (max-width: 1024px) {
        padding-top: 12%;
    }
}