* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 48px;
        letter-spacing: 0.15rem;
    }
}


.home-section {
    position: relative;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        margin-bottom: 1em;
    }
}

.home-section-bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(100% 0, 100% 94%, 86% 100%, 0 86%, 0 0);
}

.home-section-bg {
    width: 120%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.decorate-color-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $brand-orange;
    clip-path: polygon(100% 0, 100% 94%, 76% 100%, 0 86%, 0 0);
}


.home-section-text {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin-bottom: 150px;
    margin-left: 200px;

    .page-title {
        padding-bottom: 10px;
    }

    .pragraph-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        p {
            line-height: 1.3;
            margin: 6px 0;
        }
    }

    @media (max-width: 1024px) and (min-width: 769px) {
        // paddingk-top: 10px;
    }

    @media (max-width: 768px) {
        padding-top: 10vh;
        margin-left: 0px;

        .page-title {
            margin-left: 10%;
        }

        .section-second-title {
            margin-left: 10%;
            padding-top: 8px !important;
        }

        .pragraph-container {
            align-items: center;
        }
    }
}

.home-section-engo-icon-container {
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.logo-tagline {
    font-size: 0.8rem;
}

.logo-first-letter {
    color: $brand-orange;
    font-weight: bold;
    font-size: 1.2rem;
}


@media (min-width: 768px) {
    .home-section-engo-icon-container {
        position: absolute;
        bottom: 80px;
        left: 80px;
    }

    .home-section {
        justify-content: flex-start;
    }

    .home-section-bg-container {
        clip-path: polygon(100% 0, 100% 84%, 76% 100%, 0 66%, 0 0);
    }

    .decorate-color-block {
        clip-path: polygon(100% 0, 100% 84%, 70% 100%, 0 66%, 0 0);
    }
}