.success-container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('@/assets/images/success_bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 30%;
        }

        .message-container {
            display: flex;
            flex-direction: column;
            padding: 32px;
            border-radius: 16px;
            background-color: white;
            max-width: 375px;

            @media (max-width: 768px) {
                width: 80%;
            }

            .title {
                font-size: 20px;
                font-weight: 700;
            }

            .content {
                font-size: 14px;
                font-weight: 400;
                margin-top: 16px;
                line-height: 20px;
            }

            .btn {
                text-decoration: none;
                background-color: #FE8B05;
                color: white;
                font-size: 14px;
                border-radius: 6px;
                margin: 0 auto;
                margin-top: 16px;
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }
}